<div class="skw-pages">
  <div class="skw-page skw-page-1 active">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content" id="skw-page-home">
          <div class="home-cluster" id="top">
            <h1>Leo Carey-Williams</h1>
            <h3>Full Stack Web Developer </h3>
          </div>
          <h5> I develop ergonomic, modern and high quality web applications using a mixture of Rails, HTML/CSS and JavaScript. From simple landing pages to complex user based sites.</h5>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <div class="leophoto">
            <%= cl_image_tag("7h897c89dnzejvhzrlkzs8vj5a4o") %>
          </div>
          <div class="scroll-big">
            <p class="skw-page__description" id="main-heading-2">&nbsp;&nbsp;Scroll Down to see my recent projects <i class="fas fa-arrow-circle-down"></i></p>
          </div>
            <div class="home-cluster-phone">
              <h1>Leo Carey-Williams</h1>
              <h3>Full Stack Web Developer </h3>
            </div>
            <div class="logo">
              <div class="logo-child-1"><a href="https://open.spotify.com/episode/2ZbdYUrNQzcCOkBgVc78tt" target="_blank"><i class="fab fa-spotify"></i></a><p>See my recent podcasts with influential tech experts</p></div>
              <div class="logo-child-2"><a href="https://github.com/LeoCareyW" target="_blank"><i class="fab fa-github"></i></a><p>See my public repositories on GitHub</p></div>
              <div class="logo-child-3"><a href="https://www.linkedin.com/in/leo-carey-williams/" target="_blank"><i class="fab fa-linkedin-in"></i></a><p>View my LinkedIn profile</p></div>
              <div class="info-cluster-home">
                <h5> I develop ergonomic, modern and high quality web applications using a mixture of Rails, HTML/CSS and JavaScript. From simple landing pages to complex user based sites.</h5>
                <div class="scroll-down-phone">
                  <a href="#down"><p class="skw-page__description" id="main-heading-2">&nbsp;&nbsp;Click here to see my recent projects <i class="fas fa-arrow-circle-down" style="font-size: 30px;margin-top: 10px;"></i></p></a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-2">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">Socialite</h2>
          <p class="skw-page__description">A web application aimed at cutting through the abundance of noise concerning online reviewing. Instead of scrolling through numerous fake, untrue, or irrelevant summaries of places you're considering eating, why not just see what your friends suggest?
          Socialite does just that, providing a place for friends to find places more suited for them. Social media with the aim of facilitating more meaningful real world interaction. </p>
          <p class="skw-page__description"> This project was built using Ruby, HTML, CSS, JavaScript, and used a PostgreSQL for a Database Management System. </p>
          <a href="http://www.socialite-app.co/" target="blank" style="color: #D3E9FF"> Visit site </a>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <div class="phone-socialite-desc">
            <h2> Socialite</h2>
            <p>A web application aimed at cutting through the abundance of noise concerning online reviewing. Instead of scrolling through numerous fake, untrue, or irrelevant summaries of places you're considering eating, why not just see what your friends suggest?
              Socialite does just that, providing a place for friends to find places more suited for them.</p>
            <p>This project was built using Ruby, HTML, CSS, JavaScript, and used a PostgreSQL for a Database Management System.</p>
            <a href="http://www.socialite-app.co/" target="blank" style="color: #D3E9FF"> Visit site </a>
          </div>
          <div class="socialite-photo-1">
            <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1592061455/Screenshot_2020-06-13_at_15.48.38_clarr2.png") %>
          </div>
          <div class="socialite-photo-2">
            <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1592062597/Screenshot_2020-06-13_at_16.36.16_fcxzp9.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-3">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <div class="airbnb-photo-1">
            <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1592077245/Screenshot_2020-06-13_at_20.40.09_i6cm0l.png") %>
          </div>
          <div class="airbnb-photo-2">
            <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1592148619/Screenshot_2020-06-14_at_16.29.18_d0bfg0.png") %>
          </div>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <div class="phone-title-2" style="text-align: center;">
            <h2 class="skw-page__heading" href="https://airbnb-leocareyw.herokuapp.com/">Pad </h2>
            <p>Helping friends find the right spot for the perfect night. Matches people with places so that people can enjoy a special night with friends, or a weekend away.   </p>
            <p> This project required used Ruby, HTML, CSS and JavaScript. </p>
            <a href="https://airbnb-leocareyw.herokuapp.com/" target="blank" style="color: #C3EDBD"> Visit site </a>
          </div>
            <div class="airbnb-photo-1-ph">
              <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1592077245/Screenshot_2020-06-13_at_20.40.09_i6cm0l.png") %>
            </div>
            <div class="airbnb-photo-2-ph">
              <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1592148619/Screenshot_2020-06-14_at_16.29.18_d0bfg0.png") %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-4">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">Sussoo</h2>
          <p class="skw-page__description">Susso is an up and coming music producer who came with a request for a retro space themed website. We had a lot of fun on this project, implementing an array of complex visual effecs using a blend of JavaScript and CSS.</p>
          <p class="skw-page__description"> This project had a Ruby back end, and implemented React for the heavy lifting visual effects alongside HTML, CSS and a PostgreSQL database management system </p>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <div class="phone-title-3">
            <h2>Sussoo</h2>
            <p>Susso is an up and coming music producer who came with a request for a retro space themed website. We had a lot of fun on this project, implementing an array of complex visual effecs using a blend of JavaScript and CSS. </p>
            <p> This project had a Ruby back end, and implemented React for the heavy lifting visual effects alongside HTML, CSS and a PostgreSQL database management system </p>
          </div>
          <div class="socialite-photo-1">
            <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1593613273/Screenshot_2020-07-01_at_15.10.41_kxr5o3.png") %>
          </div>
          <div class="socialite-photo-2">
            <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1593613282/Screenshot_2020-07-01_at_15.11.28_hklvv7.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-5">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <div class="airbnb-photo-1">
            <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1594223124/Screenshot_2020-06-26_at_12.42.58_vb2qdn.png") %>
          </div>
          <div class="airbnb-photo-2">
            <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1594223144/Screenshot_2020-06-26_at_12.44.37_odyap7.png") %>
          </div>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <div class="phone-title-2" style="text-align: center;">
            <h2 class="skw-page__heading">Personal Safety London</h2>
            <p class="psl-desc" href="#top"> I recently was tasked with redesigning the PSL UK site. As the leading UK corporate traininer in security and safety it was important to make the site navigatable whilst also showing off their prowess as an international security company. It was also key to engage the audience with testimonials and the awards; ensuring their prominance whilst maintaing a sleek aesthetic.</p>
            <a href="https://www.personalsafetylondon.com/" target="blank" style="color: #1BA8F0"> Visit site </a>
          </div>
          <div class="airbnb-photo-1-ph">
              <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1594223124/Screenshot_2020-06-26_at_12.42.58_vb2qdn.png") %>
            </div>
            <div class="airbnb-photo-2-ph">
              <%= cl_image_tag("https://res.cloudinary.com/dcuzqcygz/image/upload/v1594223144/Screenshot_2020-06-26_at_12.44.37_odyap7.png") %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
